@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.nav_bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0%;
}



.nav_link{
    list-style: none;
    display: inline;
    padding: 0% 15px;
}

.nav_link a{
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: #6C7175;
    transition: all 0.3s ease 0s;
}


.nav_link a:hover{
    color: black;
}


.nav_btn{
    background-color: #ED0D63;
    border: 1px solid #ED0D63;
    border-radius: 15px;
    padding: 14px 30px;
    transition: all 0.3s ease 0s;
}

.nav_btn a{
    color: white;
    text-decoration: none;
}

.nav_btn:hover{
    background-color: #be0f52;
}


.nav_bar2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: sticky;
    z-index: 1;
    top: 0%;
}



.span_nav{
    display: none;
    cursor: pointer;
    border-radius: 60%;
    padding: 4px 8px;
}

.span_nav span{
    display: block;
    width: 2rem;
    height: 3px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}


@media screen and (max-width: 420px){
    *{
        padding: 0%;
        margin: 0%;
    }
    
    #header{
        position: sticky;
        box-sizing: border-box;
        z-index: 100;
        height: 80px;
        top: 0;
        background-color: white;
    }

    .nav_brand{
        margin-right: auto;
        margin-left: 1rem;
    }

    .nav_brand img{
        width: 70%;
    }

    .span_nav{
        display: block;
        position: absolute;
        transition: all 0.3s ease 0s;
        left: 87%;
    }

    .span_nav.active{
        background-color: #ffb3d0;
    }



    .nav_bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        position: sticky;
        z-index: 1;
        top: 0%;
    }
    
    .nav_links{
        justify-content: center;
        background-color: white;
        position: absolute;
        flex-direction: column;
        width: 100%;
        transition: all 0.3s ease 0s;
        height: 330px;
        top: -1000%;
        opacity: 0%;
    }

    .nav_links.active{
        opacity: 100%;
        top: 100%;
    }
    
    
    .nav_link{
        display: flex;
        justify-content: center;
        padding: 17px 0%;
    }
    
    .nav_link a{
        text-decoration: none;
        font-family: "Inter", sans-serif;
        color: #6C7175;
        transition: all 0.3s ease 0s;
    }
    
    
    .nav_link a:hover{
        color: black;
    }
    
    
    .nav_btn{
        background-color: #ED0D63;
        border: 1px solid #ED0D63;
        border-radius: 13px;
        position: absolute;
        top: -100%;
        opacity: 0%;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 50%;
        transition: all 0.3s ease 0s;
    }

    .nav_btn.active{
         top: 490%;
         opacity: 100%;
    }
    
    .nav_btn a{
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 420px) and (max-width: 600px){
    *{
        padding: 0%;
        margin: 0%;
    }
    
    #header{
        position: sticky;
        z-index: 100;
        height: 80px;
        box-sizing: border-box;
        top: 0;
        background-color: white;
    }

    .nav_brand{
        margin-right: auto;
        margin-left: 1rem;
    }

    .nav_brand img{
        width: 70%;
    }

    .span_nav{
        display: block;
        position: absolute;
        transition: all 0.3s ease 0s;
        left: 87%;
    }

    .span_nav.active{
        background-color: #ffb3d0;
    }



    .nav_bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        position: sticky;
        z-index: 1;
        top: 0%;
    }
    
    .nav_links{
        justify-content: center;
        background-color: white;
        position: absolute;
        flex-direction: column;
        width: 100%;
        transition: all 0.3s ease 0s;
        height: 290px;
        top: -1000%;
        opacity: 0%;
    }

    .nav_links.active{
        opacity: 100%;
        top: 100%;
    }
    
    
    .nav_link{
        display: flex;
        justify-content: center;
        padding: 17px 0%;
    }
    
    .nav_link a{
        text-decoration: none;
        font-family: "Inter", sans-serif;
        color: #6C7175;
        transition: all 0.3s ease 0s;
    }
    
    
    .nav_link a:hover{
        color: black;
    }
    
    
    .nav_btn{
        background-color: #ED0D63;
        border: 1px solid #ED0D63;
        border-radius: 13px;
        position: absolute;
        top: -100%;
        opacity: 0%;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 50%;
        transition: all 0.3s ease 0s;
    }

    .nav_btn.active{
         top: 423%;
         opacity: 100%;
    }
    
    .nav_btn a{
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    *{
        padding: 0%;
        margin: 0%;
    }
    
    #header{
        position: sticky;
        z-index: 100;
        height: 90px;
        top: 0;
        background-color: white;
    }

    .nav_brand{
        margin-right: auto;
        margin-left: 1rem;
    }

    .nav_brand img{
        width: 70%;
    }

    .span_nav{
        display: block;
        position: absolute;
        transition: all 0.3s ease 0s;
        left: 87%;
    }

    .span_nav.active{
        background-color: #ffb3d0;
    }



    .nav_bar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        position: sticky;
        z-index: 1;
        top: 0%;
    }
    
    .nav_links{
        justify-content: center;
        background-color: white;
        position: absolute;
        flex-direction: column;
        width: 100%;
        transition: all 0.3s ease 0s;
        height: 290px;
        top: -1000%;
        opacity: 0%;
    }

    .nav_links.active{
        opacity: 100%;
        top: 100%;
    }
    
    
    .nav_link{
        display: flex;
        justify-content: center;
        padding: 17px 0%;
    }
    
    .nav_link a{
        text-decoration: none;
        font-family: "Inter", sans-serif;
        color: #6C7175;
        transition: all 0.3s ease 0s;
    }
    
    
    .nav_link a:hover{
        color: black;
    }
    
    
    .nav_btn{
        background-color: #ED0D63;
        border: 1px solid #ED0D63;
        border-radius: 13px;
        position: absolute;
        top: -100%;
        opacity: 0%;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 50%;
        transition: all 0.3s ease 0s;
    }

    .nav_btn.active{
         top: 423%;
         opacity: 100%;
    }
    
    .nav_btn a{
        color: white;
        text-decoration: none;
    }
}

/* CONTACT SECTION */

.contact{
    height: 800px;
}

.heading{
    padding-top: 7%;
    display: flex;
    justify-content: center;
}



.dot_outer{
    background-color: #EEF1F7;
    border-radius: 15px;
    padding: 7px 15px;
    width: 8%;
}


.dot{
    background-color: #EEF1F7;
    border-radius: 15px;
    width: 100%;
}

.dot p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
}

.ch{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #1D2B36;
    padding-top: 2%;
    text-align: center;
}

.ctp{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #6C7175;
    padding-top: 1%;
    text-align: center;
}


.contact_box{
    padding-top: 3%;
    margin-left: 39%;
    width: 385px;
    height: 600px;
}


.info_box p{
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #6C7175;
}

.info_box input{
    border: 1px solid #d6d8db;
    padding: 12px 150px 12px 5px;
    border-radius: 8px;
    margin-bottom: 10%;
}

.info_box input::placeholder{
    font-family: "Inter", sans-serif;
    color: #1D2B36;
    font-size: 16px;
    width: 250px;
}

.info_box button{
    background-color: #ED0D63;
    border: 1px solid #ED0D63;
    border-radius: 10px;
    margin-left: 14%;
    padding: 14px 34px;
    transition: all 0.3s ease 0s;
}

.info_box button a{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-decoration: none;
}

.info_box button:hover{
    background-color: #be0f52;
}

@media screen and (max-width: 420px){
    .contact{
        height: 800px;
    }
    
    .heading{
        padding-top: 7%;
        display: flex;
        justify-content: center;
    }
    
    
    
    .dot_outer{
        background-color: #EEF1F7;
        border-radius: 15px;
        padding: 7px 15px;
        width: auto;
        max-width: 10rem;
    }
    
    
    .dot{
        background-color: #EEF1F7;
        width: 100%;
    }
    

    
    .dot p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    
    .ch{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #1D2B36;
        padding-top: 5%;
        text-align: center;
    }
    
    .ctp{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: #6C7175;
        padding-top: 7%;
        text-align: center;
    }
    
    
    .contact_box{
        padding-top: 14%;
        margin-left: 0%;
        margin: auto;
        width: 80%;
        height: 600px;
    }
    
    
    .info_box p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #6C7175;
    }
    
    .info_box input{
        border: 1px solid #d6d8db;
        padding-top: 12px;
        padding-bottom: 12px;
        width: auto;
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 14%;
    }
    
    .info_box input::placeholder{
        font-family: "Inter", sans-serif;
        color: #1D2B36;
        font-size: 16px;
        width: 250px;
    }
    
    .info_box button{
        background-color: #ED0D63;
        border: 1px solid #ED0D63;
        border-radius: 10px;
        margin-left: 15%;
        padding-top: 12px;
        padding-bottom: 12px;
        width: auto;
        max-width: 80%;
        transition: all 0.3s ease 0s;
    }
    
    .info_box button a{
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        text-decoration: none;
    }
    
    .info_box button:hover{
        background-color: #be0f52;
    }
}

@media screen and (min-width: 420px) and (max-width: 600px){
    .contact{
        height: 800px;
    }
    
    .heading{
        padding-top: 7%;
        display: flex;
        justify-content: center;
    }
    
    
    
    .dot_outer{
        background-color: #EEF1F7;
        border-radius: 15px;
        padding: 7px 15px;
        width: auto;
        max-width: 13rem;
    }
    
    
    .dot{
        background-color: #EEF1F7;
        width: 100%;
    }
    

    
    .dot p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    
    
    .ch{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #1D2B36;
        padding-top: 5%;
        text-align: center;
    }
    
    .ctp{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: #6C7175;
        padding-top: 7%;
        text-align: center;
    }
    
    
    .contact_box{
        padding-top: 14%;
        margin-left: 0%;
        margin: auto;
        width: 80%;
        height: 600px;
    }
    
    
    .info_box p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #6C7175;
    }
    
    .info_box input{
        border: 1px solid #d6d8db;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 10%;
    }
    
    .info_box input::placeholder{
        font-family: "Inter", sans-serif;
        color: #1D2B36;
        font-size: 16px;
        width: 250px;
    }
    
    .info_box button{
        background-color: #ED0D63;
        border: 1px solid #ED0D63;
        border-radius: 10px;
        margin-left: 27%;
        padding-top: 12px;
        padding-bottom: 12px;
        width: auto;
        max-width: 70%;
        transition: all 0.3s ease 0s;
    }
    
    .info_box button a{
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        text-decoration: none;
    }
    
    .info_box button:hover{
        background-color: #be0f52;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .contact{
        height: 900px;
    }
    
    .heading{
        padding-top: 7%;
        display: flex;
        justify-content: center;
    }
    
    
    
    .dot_outer{
        background-color: #EEF1F7;
        border-radius: 15px;
        padding: 7px 15px;
        width: auto;
        max-width: 10rem;
    }
    
    
    .dot{
        background-color: #EEF1F7;
        width: 100%;
    }
    

    
    .dot p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 14px;
    }
    
    .ch{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #1D2B36;
        padding-top: 5%;
        text-align: center;
    }
    
    .ctp{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 17px;
        color: #6C7175;
        padding-top: 7%;
        text-align: center;
    }
    
    
    .contact_box{
        padding-top: 14%;
        margin-left: 0%;
        margin: auto;
        width: 80%;
        height: 600px;
    }
    
    
    .info_box p{
        font-family: "Inter", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #6C7175;
    }
    
    .info_box input{
        border: 1px solid #d6d8db;
        padding-top: 12px;
        padding-bottom: 12px;
        width: 100%;
        max-width: 100%;
        border-radius: 8px;
        margin-bottom: 10%;
    }
    
    .info_box input::placeholder{
        font-family: "Inter", sans-serif;
        color: #1D2B36;
        font-size: 16px;
        width: 250px;
    }
    
    .info_box button{
        background-color: #ED0D63;
        border: 1px solid #ED0D63;
        border-radius: 10px;
        margin-left: 30%;
        padding-top: 12px;
        padding-bottom: 12px;
        width: auto;
        max-width: 100%;
        transition: all 0.3s ease 0s;
    }
    
    .info_box button a{
        color: white;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        text-decoration: none;
    }
    
    .info_box button:hover{
        background-color: #be0f52;
    }
}


/* FOOTER SECTION */

.foot_1{
    padding-top: 3%;
    float: left;
    width: 50%;
    padding-bottom: 4%;
}

.foot_2{
    padding-top: 4.5%;
    margin-left: 10%;
    float: left;
    width: 35%;
    padding-bottom: 4%;
}

.fp{
    padding-top: 2%;
    padding-left: 8%;
    display: flex;
    align-items: center;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 4%;
}

.fp img{
    margin-right: 1%;
}

.foot_15{
    width: 40%;
    margin-top: 3%;
    margin-left: 6%;
}

.fi img{
    border: 1px solid #cdd1d4;
    border-radius: 50%;
    padding: 10px 10px;
    background-color: #cdd1d4;
    margin-left: 3%;
    transition: all 0.3s ease 0s;
}

.fi img:hover{
    background-color: #6C7175;
}

.nav_link2{
    list-style: none;
    display: inline;
    padding: 0% 15px;
}

.nav_link2 a{
    text-decoration: underline;
    font-family: "Inter", sans-serif;
    color: #6C7175;
    transition: all 0.3s ease 0s;
}


.nav_link2 a:hover{
    color: black;
}


@media screen and (max-width: 420px){
    .foot_1{
        padding-top: 3%;
        float: left;
        width: 100%;
        padding-bottom: 4%;
        background-color: #fff8fb;
    }
    
    .foot_2{
        padding-top: 4.5%;
        margin-left: 3%;
        float: left;
        width: 70%;
        padding-bottom: 4%;
        background-color: #fff8fb;
    }
    
    .fp{
        padding-top: 2%;
        padding-left: 4%;
        display: flex;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        padding-bottom: 4%;
    }

    .fp img{
        margin-right: 1%;
    }
    
    .foot_15{
        width: 40%;
        margin-top: 3%;
        margin-left: 2%;
    }
    
    .fi img{
        border: 1px solid #cdd1d4;
        border-radius: 50%;
        padding: 10px 10px;
        background-color: #cdd1d4;
        margin-left: 3%;
        transition: all 0.3s ease 0s;
    }
    
    .fi img:hover{
        background-color: #6C7175;
    }
    
    .nav_link2{
        list-style: none;
        display: block;
        padding: 13px 5px;
    }
    
    .nav_link2 a{
        text-decoration: underline;
        font-family: "Inter", sans-serif;
        color: #000000;
        transition: all 0.3s ease 0s;
    }
    
    
    .nav_link2 a:hover{
        color: black;
    }
}

@media screen and (min-width: 420px) and (max-width: 600px){
    .foot_1{
        padding-top: 3%;
        float: left;
        width: 100%;
        padding-bottom: 4%;
        background-color: #fff8fb;
    }
    
    .foot_2{
        padding-top: 4.5%;
        margin-left: 3%;
        float: left;
        width: 70%;
        padding-bottom: 4%;
        background-color: #fff8fb;
    }
    
    .fp{
        padding-top: 2%;
        padding-left: 4%;
        display: flex;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        padding-bottom: 4%;
    }

    .fp img{
        margin-right: 1%;
    }
    
    .foot_15{
        width: 40%;
        margin-top: 3%;
        margin-left: 2%;
    }
    
    .fi img{
        border: 1px solid #cdd1d4;
        border-radius: 50%;
        padding: 10px 10px;
        background-color: #cdd1d4;
        margin-left: 3%;
        transition: all 0.3s ease 0s;
    }
    
    .fi img:hover{
        background-color: #6C7175;
    }
    
    .nav_link2{
        list-style: none;
        display: block;
        padding: 17px 5px;
    }
    
    .nav_link2 a{
        text-decoration: underline;
        font-family: "Inter", sans-serif;
        color: #000000;
        transition: all 0.3s ease 0s;
    }
    
    
    .nav_link2 a:hover{
        color: black;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 768px){
    .foot_1{
        padding-top: 3%;
        float: left;
        width: 100%;
        padding-bottom: 4%;
        background-color: #fff8fb;
    }
    
    .foot_2{
        padding-top: 4.5%;
        margin-left: 3%;
        float: left;
        width: 70%;
        padding-bottom: 4%;
        background-color: #fff8fb;
    }
    
    .fp{
        padding-top: 2%;
        padding-left: 4%;
        display: flex;
        align-items: center;
        font-family: "Inter", sans-serif;
        font-size: 17px;
        font-weight: 400;
        padding-bottom: 4%;
    }

    .fp img{
        margin-right: 1%;
    }
    
    .foot_15{
        width: 40%;
        margin-top: 3%;
        margin-left: 2%;
    }
    
    .fi img{
        border: 1px solid #cdd1d4;
        border-radius: 50%;
        padding: 10px 10px;
        background-color: #cdd1d4;
        margin-left: 3%;
        transition: all 0.3s ease 0s;
    }
    
    .fi img:hover{
        background-color: #6C7175;
    }
    
    .nav_link2{
        list-style: none;
        display: block;
        padding: 19px 5px;
    }
    
    .nav_link2 a{
        text-decoration: underline;
        font-family: "Inter", sans-serif;
        color: #000000;
        transition: all 0.3s ease 0s;
    }
    
    
    .nav_link2 a:hover{
        color: black;
    }
}






